<!DOCTYPE html>
<html xmlns="www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="layout :: main">
<head>
	<title th:fragment="title" th:text="#{spittr.register}"></title>
</head>
<body>
	<div th:fragment="content">
		<form method="POST" 
		th:object="${spitter}"
		enctype="multipart/form-data">
			<div class="errors" th:if="${#fields.hasErrors('*')}">
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">
					Dane wejściowe są niepoprawne
					</li>
				</ul>
			</div>
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			
			<label th:text="#{spittr.register.firstName}"
			th:class="${#fields.hasErrors('firstName')} ? 'error'"></label>
			<input type="text" th:field="*{firstName}"
			th:class="${#fields.hasErrors('firstName')} ? 'error'" /><br />
			
			<label th:text="#{spittr.register.lastName}"
			th:class="${#fields.hasErrors('lastName')} ? 'error'"></label>
			<input type="text" th:field="*{lastName}"
			th:class="${#fields.hasErrors('lastName')} ? 'error'" /><br />
			
			<label th:text="#{spittr.register.email}"
			th:class="${#fields.hasErrors('email')} ? 'error'"></label>
			<input type="text" th:field="*{email}"
			th:class="${#fields.hasErrors('email')} ? 'error'" /><br />
			
			<label th:text="#{spittr.register.username}"
			th:class="${#fields.hasErrors('username')} ? 'error'"></label>
			<input type="text" th:field="*{username}"
			th:class="${#fields.hasErrors('username')} ? 'error'" /><br />
			
			<label th:text="#{spittr.register.password}"
			th:class="${#fields.hasErrors('password')} ? 'error'"></label>
			<input type="password" th:field="*{password}"
			th:class="${#fields.hasErrors('password')} ? 'error'" /><br />
			
			<label th:text="#{spittr.register.picture}"></label>
			<input type="file" name="profilePicture"
			accept="image/jpeg,image/png,image/gif" /><br />
			
			<input type="submit" th:value="#{spittr.register.submit}" />
		</form>
	</div>
</body>
</html>